{% extends 'base.html.twig' %}



{% block title %}Annulation de la sortie{% endblock %}

{% block body %}
    {% include 'navbar.html.twig' %}
    {% form_theme annulationSortieForm 'bootstrap_4_layout.html.twig' %}
<div class="card container mt-3 w-50" >
    <h2 class="card-header">Annuler une sortie</h2>
    {{ form_start(annulationSortieForm) }}
    <div class="card-body ps-5">

        <div class="row mb-3">
            <h5 class="form-label">Nom de la sortie:</h5>
            <p class="col">{{ sortie.nom }}</p>
        </div>
        <div class="row mb-3">
            <h5 class="form-label">Date de la sortie:</h5>
            <p class="col">{{ sortie.dateHeureSortie | date('d/m/Y')}}</p>
        </div>
        <div class="row mb-3">
            <h5 class="form-label">Ville organisatrice:</h5>
            <p class="col">{{ ville.nom}}</p>
        </div>
        <div class="row mb-3">
            <h5 class="form-label">Lieu:</h5>
            <p class="col">{{ lieu.nom }}, {{ lieu.rue }}, {{ ville.codePostal }} {{ ville.nom }}</p>
        </div>
        <div class="row mb-3">
            <h5 class="form-label">{{ form_label(annulationSortieForm.motif) }}</h5>
            <p class="col ">{{ form_widget(annulationSortieForm.motif) }}</p>
        </div>
        <div style="padding: 1rem 0">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
            <button type="reset" class="btn btn-danger">Annuler</button>
        </div>
    </div>
</div>
{% endblock %}
