{% extends 'base.html.twig' %}

{% block title %}Hello CreerSortieController!{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('library/website/css/home.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    {% include('navbar.html.twig') %}

    {% form_theme creationForm 'bootstrap_4_layout.html.twig' %}
    {{ form_start(creationForm) }}
    <div class="container card mt-3">
        {% if app.request.attributes.get('_route') == 'modifier_sortie' %}
            <h2 class="card-header">Modifier une sortie</h2>
        {% else %}
            <h2 class="card-header">Créer une sortie</h2>
        {% endif %}
        <div class="card-body row-test">
            <div class="col">
                <div class="mb-3">
                    <label class="form-label" for="nom">Nom de la sortie</label>
                    {{ form_widget(creationForm.nom) }}
                </div>

                <div class="mb-3">
                    <label class="form-label" for="dateSortie">Date et heure de la sortie</label>
                    {{ form_widget(creationForm.dateHeureSortie) }}
                </div>

                <div class="mb-3">
                    <label class="form-label" for="dateLimite">Date limite d'inscription</label>
                    {{ form_widget(creationForm.dateLimite) }}
                </div>
                <div class="mb-3">
                    <label class="form-label" for="nbPlace">Nombre de places</label>
                    {{ form_widget(creationForm.nbPlace) }}
                </div>
                <div class="mb-3">
                    <label class="form-label" for="duree">Durée</label>
                   <div class="duree">{{ form_widget(creationForm.duree) }} <p class="form-duree"> minutes</p></div>
                </div>
                <div class="mb-3">
                    <label class="form-label " for="description">Description</label>
                    {{ form_widget(creationForm.description) }}
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label class="form-label" for="siteOrganisateur">Site Organisateur</label>
                    <input class="form-control" type="text" id="siteOrganisateur" name="siteOrganisateur" value="{{ site.nom }}" disabled>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="ville">Ville</label>
                    <select class="form-control" id="ville" name="ville" aria-label="Default select example" onchange="chargementLieu()">
                        <option value="0" selected>-- Sélectionner une Ville --</option >
                        {% for ville in villes %}
                            {% if app.request.attributes.get('_route') == 'modifier_sortie' and ville== lieu.getVille() %}
                                <option value="{{ ville.id }}"  selected>{{ ville.nom }}</option >
                            {% else %}
                                <option value="{{ ville.id }}">{{ ville.nom }}</option >
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="lieu">Lieu</label>
                    <div class="lieu">
                    <select class="form-control" id="lieu" name="{{ field_name(creationForm.lieu) }}"  aria-label="Default select example" onchange="chargementRue()" >
                        {% if app.request.attributes.get('_route') == 'modifier_sortie' %}
                            {% block javscript %}
                            <script>
                                window.chargementLieu("{{ lieu.nom }}");
                            </script>
                            {% endblock %}
                       {% endif %}
                    </select>
                        <p class="form-lieu">{{ render(controller('App\\Controller\\CreationLieuController::index')) }}</p>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="rue">Rue</label>
                    <input class="form-control" type="text" id="rue" {% if app.request.attributes.get('_route') == 'modifier_sortie'%} value="{{ lieu.rue }}" {% endif%} name="{{ field_name(creationForm.rue) }}" disabled >
                </div>
                <div class="mb-3">
                    <label class="form-label" for="codePostal">CodePostal</label>
                    <input class="form-control" type="text" id="codePostal" {% if app.request.attributes.get('_route') == 'modifier_sortie'%} value="{{ lieu.getVille().getCodePostal() }}" {% endif%} name="{{ field_name(creationForm.codePostal) }}" disabled >
                </div>
                <div class="mb-3">
                    <label class="form-label" for="latitude">Latitude</label>
                    <input class="form-control" type="text" id="latitude" {% if app.request.attributes.get('_route') == 'modifier_sortie'%} value="{{ lieu.latitude }}" {% endif%} name="{{ field_name(creationForm.latitude) }}" >
                </div>
                <div class="mb-3">
                    <label class="form-label" for="longitude">Longitude</label>
                    <input class="form-control" type="text" id="longitude" {% if app.request.attributes.get('_route') == 'modifier_sortie'%} value="{{ lieu.longitude }}" {% endif%} name="{{ field_name(creationForm.longitude) }}" >
                </div>
            </div>
        </div>
        <div  style="padding: 1rem 0;">
            <button type="submit" name="{{ field_name(creationForm.save) }}" class="btn btn-primary">Enregistrer</button>
            <button type="submit" name="{{ field_name(creationForm.saveEtPublier) }}" class="btn btn-success">Publier la sortie</button>
            {% if  app.request.attributes.get('_route') == 'modifier_sortie' %}
                <button type="submit" name="{{ field_name(creationForm.supprimer) }}" class="btn btn-secondary">Supprimer la sortie</button>
            {% endif %}
            <a class="btn btn-danger"  href="{{ url('sorties') }}" name="annuler">Annuler</a>
        </div>
    </div>
    {{ form_end(creationForm) }}
    <script>
        function chargementRue(){
            let nomLieu = document.getElementById("lieu").value;
            let inputRue = document.getElementById("rue");
            let inputCodePostal = document.getElementById("codePostal");
            let inputLatitude = document.getElementById("latitude");
            let inputLongitude = document.getElementById("longitude");
            fetch("http://127.0.0.1:8000/listeRue/" + nomLieu)
                .then(response => response.json())
                .then((lieuSelect)=> {
                    for (const lieu of lieuSelect) {
                        inputRue.value = lieu.rue;
                        inputCodePostal.value = lieu.ville.codePostal;
                        inputLatitude.value = lieu.latitude;
                        inputLongitude.value = lieu.longitude;
                    }
                })
        }
    </script>
{% endblock %}