{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal">
    <i class="fas fa-plus"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ form_start(formLieu) }}
                <div class="row">
                    <div class="col-4">
                        {{ form_label(formLieu.nomLieu) }}
                    </div>
                    <div class="col-4">
                        {{ form_widget(formLieu.nomLieu) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        {{ form_label(formLieu.rueLieu) }}
                    </div>
                    <div class="col-4">
                        {{ form_widget(formLieu.rueLieu) }}
                    </div>
                </div>
                <button type="button" class="btn btn-primary" onclick="lancementAjax()" data-dismiss="modal">Enregistrer</button>
                {{ form_end(formLieu) }}
            </div>
        </div>
    </div>
</div>
    <script>
        function lancementAjax()
        {
            let nomLieu = document.getElementById('form_nomLieu').value;
            let rueLieu = document.getElementById('form_rueLieu').value;
            let idVille = document.getElementById('ville').value;
            let form = {'nom':nomLieu, 'rue': rueLieu, 'ville': idVille};
            if(idVille == 0)
            {
                window.alert('La ville n\'a pas été sélectionnée, vous ne pouvez pas ajouter de lieu');

            }
            else
            {
                fetch('http://127.0.0.1:8000/sauvegarder/lieu',
                    {
                        method: "POST",
                        body: JSON.stringify(form)
                    })
                    .then(response => console.log(response))
                .then(() => {
                    chargementLieu();
                });
            }
        }
    </script>
{% endblock %}
