{% extends 'base.html.twig' %}

{% block title %}Profil de {{ profil.pseudo }}{% endblock %}

{% block body %}
    {% include('navbar.html.twig') %}


    <div class="card container mt-3 w-50">
        <h2 class="card-header">{{ profil.pseudo }}</h2>

        <div class="card-body row-test">
            <div class="col">
                {% if(profil.photo != null) %}
                    <img class="rounded" src="{{ imageProfilNom }}">
                {% else %}
                    <img class="rounded" src="{{ asset('./../uploads/imageDefaut.png') }}" alt="Image par defaut de l'utilisateur">
                {% endif %}
            </div>
            <div class="col">
                <div class="row mb-3">
                    <h5 class="form-label">Prénom : </h5>
                    <p class="col">{{ profil.prenom }}</p>
                </div>
                <div class="row mb-3">
                    <h5 class="form-label">Nom : </h5>
                    <p class="col">{{ profil.nom }}</p>
                </div>
                <div class="row mb-3">
                    <h5 class="form-label">Téléphone : </h5>
                    <p class="col">{{ profil.telephone }}</p>
                </div>
                <div class="row mb-3">
                    <h5 class="form-label">Email : </h5>
                    <p class="col">{{ profil.email }}</p>
                </div>
                <div class="row mb-3">
                    <h5 class="form-label">Site de rattachement : </h5>
                    <p class="col">{{ profil.site.nom }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
