{% extends 'base.html.twig' %}

{% block title %}Modification du profil {{ profil.pseudo }}{% endblock %}

{% block body %}
    {% include('navbar.html.twig') %}
    {% form_theme profilForm 'bootstrap_4_layout.html.twig' %}
<div class="card container mt-3 ">

    <h2 class="card-header">Mon profil</h2>
    <div class="car-body">
    {{ form_start(profilForm) }}
        <div class="row-test">
            <div class="col">
                {% if(profil.photo != null) %}
                    <img src="{{ imageProfilNom }}">
                    {% else %}
                        <img src="{{ asset('./../uploads/imageDefaut.png') }}" alt="Image par defaut de l'utilisateur">
                {% endif %}
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        {{ form_label(profilForm.pseudo) }}
                    </div>
                    <div class="col">
                        {{ form_widget(profilForm.pseudo) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ form_label(profilForm.prenom) }}
                    </div>
                    <div class="col">
                        {{ form_widget(profilForm.prenom) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ form_label(profilForm.nom) }}
                    </div>
                    <div class="col">
                        {{ form_widget(profilForm.nom) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ form_label(profilForm.telephone) }}
                    </div>
                    <div class="col">
                        {{ form_widget(profilForm.telephone) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ form_label(profilForm.email) }}
                    </div>
                    <div class="col">
                        {{ form_widget(profilForm.email) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ form_label(profilForm.password) }}
                    </div>
                    <div class="col">
                        {{ form_widget(profilForm.password) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ form_label(profilForm.confirmation) }}
                    </div>
                    <div class="col">
                        {{ form_widget(profilForm.confirmation) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ form_label(profilForm.ville) }}
                    </div>
                    <div class="col">
                        {{ form_widget(profilForm.ville) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="file" name="{{ field_name(profilForm.photo) }}" class="custom-file-input" id="customFileLang" >
                        <label class="custom-file-label" for="customFileLang" data-browse="Choisir un fichier">Aucun fichier choisi</label>
                    </div>
                </div>
                <div style="padding: 1rem 0">
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                    <button type="reset" class="btn btn-danger">Annuler</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
